





@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');






/********************* AJUSTES GENERALES *********************/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%
}

body {
    background-color:black;
    font-family: Instrument Sans;

}

a {
    text-decoration: none;
}




/********************* CABECERA *********************/


/***** Banner *****/

#abovethefold {
    height: 30vw;
    position: relative;
    margin: 0;
}
@media only screen and (min-width: 768px){
    #abovethefold {
        height: 25vh;
        }
    }
        
#textocabecera {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bolder;
    color: #fff;
    padding: 3%;
}

#abovethefold H1 {
    font-size: 6vw;
}
#abovethefold H2 {
    font-size: 10vw;
    color: #fff;
}
#abovethefold H2:hover {
    font-style: italic;
    color: #ffd900;
}

@media only screen and (min-width: 768px){
    #abovethefold H2 {
        font-size: 5rem;
    }
    #abovethefold H1 {
        font-size: 3rem;
    }
}




/***** Menú de navegación *****/

.mainheader {
    position: sticky;
    top: 0;
    background-color:black;
    margin-top: 0px;
    padding: 15px 0;
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    z-index: 50;
}

.mainheader ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 768px){
    .mainheader ul {
        flex-flow: row;
    }
}

.mainheader ul li {
    padding: 10px 3%;
    display: block;
    text-align: center;
}
@media only screen and (min-width: 768px){
    .mainheader ul li {
        display: inline-block;
        text-align: left;
    }
}

.mainheader ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}
@media only screen and (min-width: 768px){
    .mainheader ul li {
        font-size: 1.5em;
    }
}


.mainheader ul li a:hover {
    color: rgb(0, 255, 247);
    font-weight: 500;
    font-style: italic;}






/********************* CONTENIDO *********************/

#presentacion { /*NO HAY MANERA DE QUE ACEPTE LA IMAGEN DE FONDO. ME PASA SIEMPRE*/

    background-image: url("../assets/img/Background-manos-rojo-azul.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}
#servicios h5 {
    margin-bottom: 100px;
}
#textopresentacion p{
    font-size: 25px;
    color: #fff;
    line-height: 1.6em;
}
@media only screen and (min-width: 768px){
    #textopresentacion p {
        width: 50%;
    }
    #servicios h5 {
        width: 50%;
    }
}
@media only screen and (min-width: 1200px){
    #textopresentacion p {
        width: 33%;
    }
    #servicios h5 {
        width: 33%;
    }
}








/************** Cajas banners **************/

#secciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 200px;
    gap: 15px
}
#presentacion p{
    font-size: 25px;
    color: #fff;
}
#presentacion h3{
    font-size: 3rem;
    color: #fff;
    padding-bottom: 10px;
}
#presentacion h4{
    font-size: 3rem;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 10px;
}
#presentacion h5{
    font-size: 2.25rem;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5;
}
#presentacion h6{
    font-size: 1.85rem;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}






/******* Caja BIO *******/

#containerbio {
    position: relative;
    width: 100%;
    display: inline-block;
    border: 5px solid #fff;
}
@media only screen and (min-width: 768px){
    #containerbio {
        width: calc(50% - 15px);
    }
}
@media only screen and (min-width: 1200px){
    #containerbio {
        width: calc(33% - 15px);
    }
}

#textoscajasbio {
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
}
#textoscajasbio a:hover {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-style: italic;
}


/******* Caja PORTFOLIO *******/

#containerportfolio {
    position: relative;
    width: 100%;
    display: inline-block;
    border: 5px solid #fff;
}
@media only screen and (min-width: 768px){
    #containerportfolio {
        width: calc(50% - 15px);
    }
}
@media only screen and (min-width: 1200px){
    #containerportfolio {
        width: calc(33% - 15px);
    }
}
#textoscajasportfolio {
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
}
#textoscajasportfolio a:hover {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-style: italic;
}


/******* Caja CONTACTO *******/

#containercontacto {
    position: relative;
    width: 100%;
    display: inline-block;
    border: 5px solid #fff;
}
@media only screen and (min-width: 768px){
    #containercontacto {
        width: calc(50% - 15px);
    }
}
@media only screen and (min-width: 1200px){
    #containercontacto {
        width: calc(33% - 15px);
    }
}
#textoscajascontacto {
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
}
#textoscajascontacto a:hover {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-style: italic;
}












/*********************************** Biografia ***********************************/

#curriculum {
    padding: 3%;
    padding-bottom: 150px;
}

#mypic {
    width: 300px;
    padding: 15px 0px;
}

#portfolio, #curriculum h3{
    font-size: 3rem;
    color: #fff;
    padding-bottom: 10px;
}
#portfolio, #curriculum h4{
    font-size: 3.25rem;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 10px;
}
#portfolio, #curriculum h5{
    font-size: 2.25rem;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5;
}
#portfolio, #curriculum h6{
    font-size: 1.85rem;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

#curriculum a:hover {
    color: rgb(249, 169, 255);
    font-style: italic;
}




/*********************************** Portfolio ***********************************/

#downloadportfolio {
    padding: 20px;
}

#downloadportfolio h6:hover {
    color: rgb(0, 255, 38);
    font-style: italic;
}

#portfolio {
    padding: 3%;
}
.portfoliocajas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 200px;
}
.diapos {
    width: 100%;    
}
@media only screen and (min-width: 1200px){
    .diapos {
        width: calc(50% - 10px);
    }
}
#nomproyecto {
    font-size: 3rem;
}

.proyectos, p {
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: 100;
}





/*********************************** Contacto ***********************************/

main {
    padding: 3%;
}

form {
    padding: 50px 0;
}

.entrada {
    margin: 30px 0;
}

.formulario .labels {
    font-size: 26px;
    color: #fff;
}

textarea:focus, #worktipe:focus, input:focus{
    outline: none;
}

.inputs, input#fname, select#worktipe, textarea, #emailin, #tlf {
    display: block;
    width: 100%;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #000;
    border-radius: 0px;
    border-style: none;
}

#gatetes{
    width: 100%;
}

#worktipe option{
    padding-top: 2px;
    padding-bottom: 2px;
    color: #999;
}

#name, input#fname, #emailin, #tlf {
    height: 40px;
}
@media only screen and (min-width: 768px){
    .inputs, input#fname, select#worktipe, textarea, #emailin, #tlf, #gatetes {
        width: 75%;
}
}
@media only screen and (min-width: 1200px){
    .inputs, input#fname, select#worktipe, textarea, #emailin, #tlf, #gatetes {
        width: 50%;
}
}

textarea {
    font-family: Instrument Sans;
    padding-top: 5px;
}

#boton{
    all: unset;
    font-size: 25px;
    color: #000000;
    padding: 15px 50px;
    background-color: #fff;
}

#boton:hover{
    cursor: pointer;
    background-color: #00ff11;
    font-style: italic;
}























/*********************************** FOOTER ***********************************/



footer {
    background-color: black;
    padding: 20px 3%;
}

footer p{
    color: #ffffff;
    font-size: 25;
    font-weight: 500;
}


/*********************************** FOOTER ***********************************/