@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');


/********************* AJUSTES GENERALES *********************/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%
}

:root {
    --text-hover: #858585;
}

body {
    background-color: black;
    font-family: Instrument Sans;

}


p {
    color: #fff;
    font-size: 1.33rem;
    line-height: 1.5em;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

H1 {
    font-size: 3rem;
}

H2 {
    font-size: 5rem;
    color: #fff;
}

h3 {
    font-size: 3rem;
    color: #fff;
    padding-bottom: 10px;
}

h4 {
    font-size: 4rem;
    color: #fff;
    padding-top: 65px;
    padding-bottom: 10px;
}

h5 {
    display: block;
    font-size: 2.25rem;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 0;
}

h6 {
    font-size: 1.85rem;
    color: #fff;
    padding-top: 0px;
    padding-bottom: 10px;
}




/********************* CABECERA *********************/

/***** Banner *****/

#abovethefold {
    margin: 0;
}

#textocabecera {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bolder;
    color: #fff;
    padding: 15px;
}


#abovethefold H2:hover {
    color: var(--text-hover);
}

@media only screen and (max-width: 768px) {
    #abovethefold H2 {
        font-size: 5rem;
    }

    #abovethefold H1 {
        font-size: 3rem;
    }
}


/***** Menú de navegación *****/

.mainheader {
    position: sticky;
    top: 0;
    background-color: black;
    margin-top: 0px;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    z-index: 50;
}

.mainheader ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .mainheader ul {
        flex-flow: row;
    }
}

.mainheader ul li {
    padding: 10px 15px;
    display: block;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .mainheader ul li {
        display: inline-block;
        text-align: left;
    }
}

.mainheader ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
    .mainheader ul li {
        font-size: 1.5em;
    }
}


.mainheader ul li a:hover {
    color: var(--text-hover);
    font-weight: 500;
}


/********************* CONTENIDO *********************/

#presentacion {
    background-size: cover;
    background-position: center;
    padding: 30px 15px 30px 15px;
}

#servicios h5 {
    margin-bottom: 100px;
}

#textopresentacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 15px
}

@media only screen and (min-width: 768px) {
    #textopresentacion p {
        width: calc(50% - 15px);
    }

    #servicios h5 {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    #textopresentacion p {
        width: 33%;
    }

    #servicios h5 {
        width: 33%;
    }
}


/************** Cajas banners **************/

#secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 15px
}

/******* Caja BIO *******/

#containerbio {
    position: relative;
    width: 100%;
    height: 200px;
    display: inline-block;
    border: 2px solid #fff;
    transition: background-color 0.3s, border-color 0.1s;
}

#containerbio:hover {
    background-color: var(--text-hover);
    border: 2px solid var(--text-hover);
}

@media only screen and (min-width: 768px) {
    #containerbio {
        width: calc(50% - 15px);
    }
}

@media only screen and (min-width: 1200px) {
    #containerbio {
        width: calc(33% - 15px);
    }
}

#textoscajasbio {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}




/******* Caja PORTFOLIO *******/

#textointroducccion {
    width: 50%;
}

#containerportfolio {
    position: relative;
    width: 100%;
    height: 200px;
    display: inline-block;
    border: 2px solid #fff;
    transition: background-color 0.3s, border-color 0.1s;
}

#containerportfolio:hover {
    background-color: var(--text-hover);
    border: 2px solid var(--text-hover);
}

@media only screen and (min-width: 768px) {
    #containerportfolio {
        width: calc(50% - 15px);
    }
}

@media only screen and (min-width: 1200px) {
    #containerportfolio {
        width: calc(33% - 15px);
    }
}

#textoscajasportfolio {
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
}


/******* Caja CONTACTO *******/

#containercontacto {
    position: relative;
    width: 100%;
    height: 200px;
    display: inline-block;
    border: 2px solid #fff;
    transition: background-color 0.3s, border-color 0.1s;
}

#containercontacto:hover {
    background-color: var(--text-hover);
    border: 2px solid var(--text-hover);
}

@media only screen and (min-width: 768px) {
    #containercontacto {
        width: calc(50% - 15px);
    }
}

@media only screen and (min-width: 1200px) {
    #containercontacto {
        width: calc(33% - 15px);
    }
}

#textoscajascontacto {
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
}



/*********************************** Biografia ***********************************/

#curriculum {
    padding: 15px;
    padding-bottom: 150px;
}

#mypic {
    width: 300px;
    padding: 15px 0px;
}




/*********************************** Portfolio ***********************************/

#downloadportfolio {
    padding: 75px 0;
}

#downloadportfolio h6:hover {
    color: var(--text-hover);
}

#seccionportfolio {
    padding: 15px;
}

#portfolio {
    padding: 15px;
}

.portfoliocajas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15 0px;
}

.diapos {
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .diapos {
        width: calc(50% - 10px);
    }
}

#nomproyecto {
    font-size: 3rem;
}

.proyectos p {
    padding-bottom: 15px;
    font-weight: 100;
}


/*********************************** Contacto ***********************************/

main {
    padding: 15px;    
}

form {
    padding: 50px 0;
}

.entrada {
    margin: 30px 0;
}

.formulario .labels {
    font-size: 26px;
    color: #fff;
}

textarea:focus,
#worktipe:focus,
input:focus {
    outline: none;
}

.inputs,
input#fname,
select#worktipe,
textarea,
#emailin,
#tlf {
    display: block;
    width: 100%;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #000;
    border-radius: 0px;
    border-style: none;
}

#gatetes {
    width: 100%;
}

#worktipe option {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #999;
}

#name,
input#fname,
#emailin,
#tlf {
    height: 40px;
}

@media only screen and (min-width: 768px) {

    .inputs,
    input#fname,
    select#worktipe,
    textarea,
    #emailin,
    #tlf,
    #gatetes {
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {

    .inputs,
    input#fname,
    select#worktipe,
    textarea,
    #emailin,
    #tlf,
    #gatetes {
        width: 50%;
    }
}

textarea {
    font-family: Instrument Sans;
    padding-top: 5px;
}

#boton {
    all: unset;
    font-size: 25px;
    color: #000000;
    padding: 15px 50px;
    background-color: #fff;
}

#boton:hover {
    cursor: pointer;
    background-color: var(--text-hover);
    color: #fff;
}


/*********************************** FOOTER ***********************************/



footer {
    position: relative;
    background-color: black;
    margin: 20px 0 0 0;
    padding: 5px 15px;
}

footer p {
    color: #ffffff;
    font-size: 25;
    font-weight: 500;
}